.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content horizontally */
    background-color: #dcdcdc;
    padding: 30px;
    max-width: 400px; /* Set a max-width to contain the elements */
    width: 100%; /* Ensure the container takes the full width of its parent */
}

.register__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%; /* Set width to 100% to span the entire container */
    max-width: 300px; /* Limit the maximum width of the input fields */
}

.register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    width: 100%; /* Set width to 100% to span the entire container */
    max-width: 300px; /* Limit the maximum width of the buttons */
}

.register__google {
    background-color: #4285f4;
}

.register div {
    margin-top: 7px;
}
